	body {
		background-color:gray;
		color: white;
		border: 1px; solid black;
		margin: 40px;
		padding: 30px;
	}

	h1 {
		font-style: italic;
		text-align: center;
		color: white;
		border: solid; black;
		margin: 



	}

	nav {
		text-align: center;
	}

	a {
		color: green;
	}

	h2 {

	}

	p {

	}

	footer {
		text-align: center;
	}
